*{
    background-color: antiquewhite;
}

h1{
    color: whitesmoke;
    background-color: darkseagreen;
    padding: 10px;
    border-radius: 5px;
}

h2{
    color: #FAF8F1;
    background-color: #C58940;
    padding: 10px;
    border-radius: 5px;
}