.red{
  background-color:red ;
  width:100px;
  height:100px;
  position:relative;
  left:200px;
}
.blue{
  background-color:blue ;
  width:100px;
  height:100px;
  position:relative;
  bottom:100px;
}
.yellow{
  background-color: yellow;
  width:100px;
  height:100px;
  position:relative;
  bottom:200px;
  left:100px;
}